h2 {
    font-family: "Patrick Hand", cursive;
    font-size: xx-large;
    text-align: center;
}

ul {
    padding: 10px;
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

header {
    text-align: center;
    background-cover: #3cbdc2;
    background-size: cover;
    padding: 20px 0px 0px 0px;
}

h1 {
    font-size: 80px;
}

.bigimg {
    margin: 40px 0px 0px 0px;
    border: 7px, solid white;
    border-radius: 20px;
    
}

p {
    font-size: 20px;
    font-family: "Shantell Sans", cursive;
}

.cats {
    font-family: "Schoolbell", cursive;
}
