h2 {
    font-family: "Patrick Hand", cursive;
    font-size: xx-large;
    text-align: center;
}

ul {
    padding: 10px;
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

header {
    text-align: center;
    background: ;
    background-size: cover;
}